/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .contact-form .contact-card {
    width: 40%;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .contact-form {
    padding: 50px 0;
  }

  .contact-form .contact-card {
    width: 100%;
    order: 2;
  }

  .contact-form .contact-detail {
    width: 100%;
    order: 1;
    margin-bottom: 30px;
  }
}
